#topBanner {
    margin-top: 1%;
    padding-top: 1%; 
    padding-bottom: 1%;
  }

  #toProductsbtn{
      margin-bottom: 3%;
  }
  .btn-teal-500{
    background-color: #20c997;
    border-color: #20c997;
  }